doctype html
html
  head
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    base(href="/users/shaneal/router-demos/ui-router/")

    title= title
    link(rel="stylesheet", href="assets/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='assets/css/styles.css')
  body(layout="column")
    block content

    //- script(data-main="assets/js/config.js", src="assets/vendor/requirejs/require.js")