<div class="controls">
  <label>Filter:</label>

  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Category 1</button>
  <button class="filter" data-filter=".category-2">Category 2</button>

  <label>Sort:</label>

  <button class="sort" data-sort="myorder:asc">Asc</button>
  <button class="sort" data-sort="myorder:desc">Desc</button>
</div>
<div id="Container" class="container">
  <div class="mix category-1" data-myorder="{{$index}}" ng-repeat="model in collection track by $index">
    <img ng-src="{{model.image}}" class="stack_image" alt="{{model.etitle}}" src="../images/stack/series_veep.jpg">
  </div>


  <div class="gap"></div>
  <div class="gap"></div>
</div>