.header
  .header-container.clearfix
    .intent-picker.float-left
      button.btn.large.raised(type="button")
        i.icon.icon-dtv-play
        | Watching on iPad
    .options.float-right
      i.icon.icon-dtv-settings
    .search.float-right
      i.icon.icon-dtv-search
