header#dtv_header(layout="row", layout-align="space-between center")
  button.btn.btn-icon(type="button")
    i.icon.icon-dtv-back
  div
    button.btn.btn-icon.dtv-settings-icon(type="button")
      i.icon.icon-dtv-settings
    button.btn.btn-icon(type="button")
      i.icon.icon-dtv-search