extends views/layout

block content
	//- .hsContainer
		//- .scrollOne(data--100-start='opacity: 1', data-106-top='opacity: 0', data-anchor-target='.hsContainer')
		//- 	h1= title
	p Scroll Down!
	.persp(data-40p-top='perspective-origin: 50% 25%;', data-30p-top='perspective-origin: 50% 0%;')
		.myBox(data-20p-bottom='top[quadratic]: 400px; opacity[quadratic]: 0;', data--40p-bottom='top: 0; opacity: 1;', data-40p-top='transform: rotateX(0deg) scale(1);', data-30p-top='transform: rotateX(-90deg) scale(0.978); opacity: 1;') Hey!
				.myBoxB
					span Over Here!
		h3(data-30p-bottom='margin-left[quadratic]: -300%; margin-right[quadratic]: 300%;', data-20p-top='margin-left: 0; margin-right: 0;')
			| Bacon ipsum dolor amet meatball ribeye picanha kevin sirloin. Biltong ham hock shankle, pancetta pork loin swine fatback prosciutto meatball strip steak. Cupim shank andouille, meatloaf filet mignon prosciutto drumstick short loin. Meatloaf short ribs chuck short loin bacon venison andouille kevin strip steak boudin landjaeger prosciutto leberkas chicken picanha.
			|	Frankfurter venison tenderloin filet mignon. Bacon alcatra turkey pork. Cow strip steak alcatra turkey sirloin ribeye salami capicola. Biltong tongue spare ribs jerky fatback venison filet mignon sausage.
			|	Turducken tongue venison ribeye, andouille cupim corned beef picanha prosciutto beef ribs biltong. Beef ribs cupim pork chop picanha. Beef ribs corned beef short ribs andouille tail, fatback capicola shankle pork loin kielbasa biltong. Leberkas corned beef brisket flank jerky.
			|	Alcatra kielbasa pancetta leberkas, tenderloin shankle t-bone ribeye hamburger biltong capicola doner turkey. Beef venison t-bone picanha alcatra. Chuck pork loin cupim pork chop porchetta meatloaf, filet mignon chicken jerky spare ribs. Ham hock filet mignon jerky pork chop turducken capicola picanha spare ribs. Salami t-bone chicken tenderloin, ball tip bresaola hamburger brisket tri-tip rump chuck ham short ribs.
			|	Pancetta bacon ham pork chop hamburger. Leberkas tri-tip cow shoulder pig, meatball ribeye rump brisket chicken t-bone bresaola tail. Frankfurter picanha ham beef ribs, beef brisket tongue turkey bresaola pork belly. Cow swine shoulder, spare ribs beef ribs brisket frankfurter tail t-bone fatback bacon turducken short loin. Tri-tip jowl kevin, jerky tongue swine cupim pork prosciutto pig.
