<!-- CAB MENU - needs to be refined and animation sorted -->
<div id="cab_wrapper" ng-click="toggleCab()">
  <!-- CAB SECONDARY ITEMS -->
  <div id="cab_secondary" class="cab_group">
    <div id="secondary_wrapper" class="cab_item_wrapper">
      <a href="#" id="cab_popular" class="cab_secondary din_medium medium_text_alt cab_item">
        Popular
      </a>
      <a href="#" id="cab_added" class="cab_secondary din_medium medium_text_alt cab_item">
        Just Added
      </a>
      <a href="#" id="cab_critically" class="cab_secondary din_medium medium_text_alt cab_item">
        Critically Acclaimed
      </a>
      <a href="#" id="cab_genres" class="cab_secondary din_medium medium_text_alt cab_item">
        Genres
      </a>
    </div>
  </div>
  
  <!-- CAB PRIMARY ITEMS -->
  <div id="cab_primary" class="cab_group">
    <div id="cab_refine" class="cab_item_wrapper cab_large">
      <a href="#" id="sort_by" class="cab_main cab_item">
        <div class="cab_title medium_text din_light">
          Refine To
        </div>
        <div class="cab_selection medium_text_reg">
          All Programs
        </div>
        <div class="sort_icon"></div>
      </a>
    </div>
    <div id="cab_sort" class="cab_item_wrapper cab_large">
      <a href="#" id="sort_by" class="cab_main cab_item">
        <div class="cab_title medium_text din_light">
          Sort By
        </div>
        <div class="cab_selection medium_text_reg">
          Best Match
        </div>
        <div class="sort_icon"></div>
      </a>
    </div>
  </div>

  <!-- CAB ICON -->
  <a href="#" id="cab_icon">
    <div id="circle_wrapper">
      <div class="cab_circle_wrapper">
        <div class="cab_circle"></div>
      </div>
      <div class="cab_circle_wrapper">
        <div class="cab_circle"></div>
      </div>
      <div class="cab_circle_wrapper">
        <div class="cab_circle"></div>
      </div>
    </div>
    <div id="cab_close_wrapper" class="super_text larabie_reg">
      x
    </div>
  </a>
</div>