<div class="dtv-container">
  <ul class="nav nav-pills">
    <li role="presentation" ng-class="{active: $state.includes('home.shows')}">
      <a ui-sref="home">Shows</a>
    </li>
    <li role="presentation" ng-class="{active: $state.includes('home.movies')}">
      <a href="movies">Movies</a>
    </li>
    <li role="presentation" ng-class="{active: $state.includes('home.guide')}">
      <a href="guide">Guide</a>
    </li>
    <li role="presentation" ng-class="{active: $state.includes('home.playlist')}">
      <a href="playlist">Playlist</a>
    </li>
    <li role="presentation" ng-class="{active: $state.includes('home.networks')}">
      <a href="networks">Networks</a>
    </li>
  </ul>
</div>