doctype html
html(ng-app="ngtv")
  head
    include inc/styles.jade
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
  body(ng-controller="parentController")
    block content

  include inc/scripts.jade