doctype html
html(ng-app="dtvModule")
  head
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title Demo
    //- link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.css")
    //- link(rel='stylesheet', href='http://www.directv.com/_generated/assets/css/dtve/dtve.css')
    link(rel='stylesheet', href='/_generated/assets/css/_framework/dtv-light.css')
    link(rel='stylesheet', href='/_shared/ngtv2/css/styles.css')
    link(rel='stylesheet', href='assets/desktop.css')

  body(ng-controller="homeController")
    //include /../prototype/_shared/ngtv2/partials/header.jade
    .mock-header-branding
    .mock-header-topnav
      img(src="assets/mocks/mock-header-branding.png")
      img(src="assets/mocks/mock-header-topnav.png")
    .mock-hero
      img(src="http://www.directv.com/rwd/ent/premiums/2015_06/hdr_lg__Rogue_S3_2.jpg")

    #dtv_tup(ui-view)
      .dtve-list.dtve-title-list.is-carousel(ng-repeat="category in categoriesList", ng-style="{'font-size': cardStack.style.fontSize}")
        h2.category-title {{category.name}}
        .carousel-container
          .carousel-slider
            ul.carousel-items(dtv-carousel)
              li.carousel-item(dtv-asset-card, ng-repeat="card in category.items" data="card")


    
    //Libraries
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js")
    //- script(src="assets/vendor/iscroll-probe.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js")

    //Scripts
    script(src="assets/home.js")
    script(src="http://www.directv.com/assets/js/vendor/jquery.iosslider.src.js")
    script(src="http://www.directv.com/assets/js/dtve/directives/carousel/carousel.js")
    script(src="http://www.directv.com/assets/js/global/iosslider-carousel.js")
    script(src="http://www.directv.com/assets/js/global/services/environmentService.js")

    script(src="/_shared/ngtv2/js/directives/dtvBackground.js")
    script(src="/_shared/ngtv2/js/directives/dtvDetailsCarousel.js")
    script(src="/_shared/ngtv2/components/asset-card/dtvAssetCard.js")
    //- script(src="/_shared/ngtv2/components/program-details/dtvProgramDetails.js")