.details.series
  .header
    span.program-title Modern Family
    ul.description
      li 2009 - 2015
      li 6 Seasons, 120 Episodes
      li Comedy
      li TV-PG
    button.btn.fab(type="button")
      i.icon.icon-dtv-follow
    button.btn.fab(type="button")
      i.icon.icon-dtv-watchlist
  .body
    .poster-container
      div(dtv-background-cover, src="http://www.aceshowbiz.com/images/news/_modern_family_preview_of_lady_gaga_tribute_episode.jpg")
    .info
      p Three different, but related families face trials and tribulations in their own uniquely comedic ways.
      button.btn.action(type="button") More Ways to Watch
    .awards(layout="row")
      .award(layout="row")
        i.icon.icon-dtv-trophy
        table
          tbody
            tr
              td 16
              td Emmys
            tr
              td 2
              td Golden Globes
      .award(layout="row")
        i.icon.icon-dtv-ribbon
        table
          tbody
            tr
              td 240
              td Nominations
  .tab-tup.scrollable-content
    ul.tab-menu(layout="row" layout-align="start center")
      li 
        a.btn(href="#") All Episodes
      li 
        a.btn(href="#") Clips
      li
        a.btn(href="#") Similar Shows