.details.movie
  .header
    span.program-title The Imitation Game
    ul.description
      li 2014
      li 1hr 54 mins
      li Biography, Drama, Thriller
      li PG-13
    button.btn.fab(type="button")
      i.icon.icon-dtv-follow
    button.btn.fab(type="button")
      i.icon.icon-dtv-watchlist
  .body(layout="row")
    .poster-container(flex="40")
      img(src="http://thescorecardreview.com/wp-content/uploads/2014/12/benedict-cumberbenedict-the-imitation-game-movie-poster.jpg")
    .info
      ul.metadata
        li.tomato-score 97%
        li.flixster-score 89%
      p In 1939, newly created British intelligence agency MI6 recruits Cambridge mathematics alumnus Alan Turing (Benedict Cumberbatch) to crack Nazi codes, including Enigma -- which cryptanalysts had thought unbreakable. Turing's team, including Joan Clarke (Keira Knightley), analyze Enigma messages while he builds a machine to decipher them. Turing and team finally succeed and become heroes, but in 1952, the quiet genius encounters disgrace when authorities reveal he is gay and send him to prison.
      button.btn.action(type="button") More Ways to Watch
  .tab-tup
    ul.tab-menu(layout="row" layout-align="start center")
      li 
        a.btn(href="#") Clips
      li
        a.btn(href="#") Similar Movies